
body {
    margin: 0;
    display: grid;
    height: 100vh;
    background-color: var(--background);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#landing
{
    padding-left: 30px;
}

